{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>🇰🇷 OLYMPIC RECORD OF KOREA 🇰🇷</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <style>
        .navbar-brand {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: black;
        }

        svg {
            color: gray;
        }

        body {
            background-color: #b6984f;
        }

        .main_img {
            background-color: whitesmoke;
            width: 720px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <div class="dropdown show">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify dropdown-toggle" id="dropdownMenuLink"
             fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <path fill-rule="evenodd"
                  d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/">검색</a>
            <a class="dropdown-item" href="/athlete">선수</a>
            <a class="dropdown-item" href="/rank">랭킹</a>
            <a class="dropdown-item" href="/record">기록</a>
        </div>
    </div>
    <a class="navbar-brand" href="/">
        <img src="{% static 'flag.jpg' %}" width="50" height="30" class="d-inline-block align-top" alt="">
        OLYMPIC RECORD OF KOREA
        <img src="{% static 'flag.jpg' %}" width="50" height="30" class="d-inline-block align-top" alt="">

    </a>
    <a href="/admin">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
        </svg>
    </a>
</nav>
<div class="main_img" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
    <img src="{% static 'background.jpg' %}" class="d-inline-block align-top" alt="background_img" loading="lazy"
         style="margin-bottom: 10px;">

    {% block content %}
    {% endblock %}
</div>


</body>
</html>